[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
jupyter = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
tqdm = "*"
openpyxl = "*"
appnope = "*"

[dev-packages]

[requires]
python_version = "3"
